@charset "utf-8";
/* CSS Document */
header{
	background: #333;
	color: white;
	padding: 1rem 0;/*Padding es entre el contenido y los bordes del contenedor.*/
	left: 0;
	top: 0;
	width: 100%;
}
#Imagen{
	float: left;
}
#logo{
	margin-left: 50px;/*establece el margen izquierdo*/
}
body{
	font-family: Optima, times, serif;
	color: #333;
	font-size: 1.2rem;
	line-height: 1.6em;
	margin:0;
	padding-top: 0rem;
	background-color: antiquewhite;
}
#contenedor{
	width: 95%;
	margin: auto;
	padding-top: 2rem;
}
main {
	display: flex;
}
#Acero{
margin-right: 20px;
}
#BCP{
margin-right: 20px;
}
#Alicorp{
margin-right: 20px;	
}
#Mapa{
margin-top: 20px;	
}
.footer{
	background: #c8c7c7;
	display: flex;
	margin-top: 5rem;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 3rem;
}
footer img{
	display: flex;
	margin: 6px;
	width: 8%;
	float: left;
}




