@charset "utf-8";
/* CSS Document */
#Imagen{
	float: left;/*el texto se ajuste alrededor de la imagen*/
	margin-top: 7px;/*establece el margen Superior*/
	margin-left: 7px;/*establece el margen izquierdo*/
}
#logo{
	margin-right: 180px;/*establece el margen Derecha*/
}
header {
	background: #333;
	color:white;/*Color de la letra del titulo*/
	padding: 1 rem 0;
	position: fixed;
	left:0;
	top:0;
	width: 100%;
}

body{
	font-family: times , serif;/*Tipo de letra*/
	color: #333;/*Color de relleno del titulo*/
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin: 0; 
	padding-top: 7rem;
	background-color: #F1F1EC;
}

p {
	text-align: justify;
}
.Imagen{
	text-align:center;/*Centrando imagen*/
	border: 10px solid transparent;
  	padding: 15px;
	border-image: url(imagenes/border.png) 50 round;
	width: 40%;
	
}

.Texto{
	color: aliceblue;/*Letra color*/
	padding: 1%;/*Espacio entre el marco y el texto*/
	margin-left: 2%;/*Espacio Izquierdo entre el marco y esquina de pagina*/
	margin-right: 2%;/*Espacio derecho entre el marco y esquina de pagina*/
	border: 5px solid #69ca62;/*Borde color*/
	background-color: #0f222b;/*relleno color*/ 
	animation-name: example;/*nombre del efecto*/ 
  	animation-duration: 4s;/*el tiempo de cambio de color*/ 
}

@keyframes example {/*efecto de colores*/ 
  from {background-color: #7E0F10;}/*color 1*/ 
  to {background-color: #12116B;}/*color 2*/ 
}

		

		